{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h3 class="h3">Modifier votre profil</h3>
    </div>

{% endblock %}