<footer class="footer mt-3 py-4">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    © <script>
                        document.write(new Date().getFullYear())
                    </script>,
                    made with <i class="fa fa-heart"></i> by
                    <a href="https://www.minfi.gov.cm" class="font-weight-bold" target="_blank">MINFI/SG/DGB/DDPP</a>
                    for a better web.
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/minfi.cameroun/" class="nav-link text-muted" target="_blank">
                            <i class="fab fa-facebook-square me-1"></i>
                            Page MINFI
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/directiongeneraldubudgetminfi/" class="nav-link text-muted" target="_blank">DGB</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.dgb.cm/en/" class="nav-link text-muted" target="_blank">DDPP</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.dgb.cm/en/" class="nav-link pe-0 text-muted" target="_blank">CI-SDP</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>